*{
    margin: 0px;
    padding: 0px;
    transition: all .3s;
}


/*Parallax Part*/
.parallax {
    /* The image used */
    background-image: url("pic/home.jpg");

    /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Midle detail Part*/
.box_scroll {
    font-family: 'Itim', cursive;
    height: auto;
    background-color: #fff1d7;
    padding: 0px;
}


.txt_our {
  padding: 3em;
  color: #fff;
}


.box_cart {
  align-content: left;
  width: 50%;
  height: 150px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  border: 3px solid #624329;
  border-radius: 10px;
  background-color: #fff;
}

.txt_cart {
  width: 20%;
  height: 60px;
  padding: 10px;
  margin-top: 20px;
  color: #624329;
  display: inline-block;
}

#pic_cart {
  width: 185px;
  border-radius: 10px;
}


/*Popuo Part*/
/*.container {
  background-color: #9191E9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 200px;
}*/

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #3b221b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover{
  background-color: #8B462B;
  opacity: 0.9;
  color: #fff;
  text-decoration: none;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 500px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #fff;
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
  transition: .64s ease-in-out;
  border: 5px solid #3c280e;
  border-radius: 1.5rem;
}
.popup__photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.1rem;
}
.popup__photo img {
  width: auto;
  height: 100%;
}
.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 50%;
  padding: 4rem;
}
.popup__text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
}
.popup__text p {
  font-size: .875rem;
  color: #686868;
  line-height: 1.5;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: .875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #996633;
  z-index: 4;
  color: #3c280e;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 5px solid #3c280e;
}
.popup__close:hover{
  color: #fff;
  background-color: red;
}
    


/*Footer Part*/
.social {
    display: inline;
}
footer{
  font-size: 0.7em;
  font-family: 'Fredoka One', cursive;
  border-top: 2px solid white;
}