*{
    margin: 0px;
    padding: 0px;
    font-family: 'Fredoka One', cursive;
    transition: all .3s;

}

/*Parallax Part*/
.parallax {
    /* The image used */
    background-image: url("pic/strawberry_croissant.jpg");

    /* Set a specific height */
    min-height: 40vw; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*#welpic{
  width: 100%;
  height: 500px;
  object-fit: cover;
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
/*    filter: blur(1px);*/
/*}*/


/*text animation*/

.console-container {
font-family: 'Fredoka One', cursive;
  font-size:3em;
  text-align:center;
  display:block;
  position:relative;
  color:Peru;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


/*Midle detail Part*/
.box_scroll {
    position: relative;
    font-family: 'Fredoka One', cursive;
    height: auto;
    background-color: #fff1d7;
    padding: 0px;
}

#setbox{
  position: relative;
  display: inline-block;
  padding: 2%;

}
.boxtxt{
  margin: 5%; 
}

strong{
  font-weight: 100;
}
.imgph_add{
    width: 30px;
}

.txt_our {
  padding: 3em;
  color: #fff;
}

.box_contact {
  padding: 20px;
  background-color: #fff;
  width: 500px;
  height: 300px;
  text-align: left;
}
#line{
    max-width: 90%;
    border-color: Peru;
    border-width: 4px;
    border-radius: 4px;
    size: 50%;
}
.headtxt{
  font-size: 26px;
  color: #715000;
}
.txtinfo{
  font-size: 16px;
}


#map{
  padding: 50px;
  align-content: center;
}

/*Footer Part*/
.social{
    display: inline;
}
footer{
  font-size: 0.7em;
  font-family: 'Fredoka One', cursive;
  border-top: 2px solid white;
}




/*for tablet*/
@media only screen and (max-width: 768px) {
  div.console-container { 
    font-size: 40px;
  }
  .cont{
    padding: 0.5em;
  }
  .parallax{
    min-height: 60vw;
  }
  .imgph_add{
    width: 0px;
  }

}

/*/*for mobile*/
@media only screen and (max-width: 425px) {
  div.console-container { 
    font-size: 25px;
  }
  .cont{
    padding: 0.5em;
  }
  .parallax{
    min-height: 114vw;
  }
  .shadow{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important; 
    width:90%;
    height: 275px;
  }
  .imgph_add{
    width: 0px;
  }
  .headtxt{
    font-size: 21px;
    color: #715000;
  }
  .txtinfo{
    font-size: 13px;
  }

}