*{
    margin: 0px;
    padding: 0px;
    font-family: 'Fredoka One', cursive;

}


#welpic{
  width: 100%;
  height: 500px;
  object-fit: cover;
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

/*Midle detail Part*/
.box_scroll {
    position: relative;
    font-family: 'Fredoka One', cursive;
    height: auto;
    background-color: #fff1d7;
    padding: 0px;
}

.txt_our {
  padding: 3em;
  color: #fff;
}

.box_contact {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 500px;
  height: 250px;
  box-shadow: 0px 0px 5px #ccc;
  text-align: left;
}


#map{
  padding: 50px;
  align-content: center;
}

/*Footer Part*/
.social{
    display: inline;
}
footer{
  font-size: 0.7em;
  font-family: 'Fredoka One', cursive;
  border-top: 2px solid white;
}