*{
  transition: all .3s;
  box-sizing: border-box;

}

/*text animation*/
.cont{
  padding: 1em;
}
div.console-container {
font-family: 'Fredoka One', cursive;
  font-size:3em;
  text-align:center;
  display:block;
  position:relative;
  color:Peru;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.story1{
  background-image:url("pic/home.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 100%;
  float: left;
  width: 100%;
  padding: 1.5em;
  display: inline-block;
}
.story2{
  background-image:url("pic/teddy_bun.jpg");
  background-size: cover;
  background-position: left;
  padding-top: 150%;
  float: left;
  width: 100%;
  padding: 1.5em;
  display: inline-block;
}
.hr{
    max-width: 120px;
    border-color: Peru;
    border-width: 6px;
    border-radius: 4px;
}
.hr_undertxt{
    max-width: 100px;
    border-color: Peru;
    border-width: 2px;
    border-radius: 4px;
}

.box {
  background-color: rgba(255, 255, 255, 0.9);
  width: 30%;
  height: 60%;
  text-align: center;
  border-radius: 20px;
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/*content part*/

img{
  display: inline-block;
}
.photo{
  width: 90%;
}
#box_center{
  padding: 50px;
}
.set_box{
  background-color: #fff;
  width: 70%;
  height: 80%;
  display: inline-block; 
  margin: 20px;
  border-radius: 10px;
}
.txt{
  font-family: 'Itim', cursive;
  font-size: 20px;
  color: #765234; 
  padding: 20px;
  text-align: left;

}
p{font-family: 'Itim', cursive;}
.pic{
  padding-top: 50px;
  margin-top: 20px;
}

.box_scroll {
    font-family: 'Itim', cursive;
    height: auto;
    padding: 0px;
}
/*Footer Part*/
.social{
    display: inline;
}

footer{
  font-size: 0.7em;
  font-family: 'Fredoka One', cursive;
  border-top: 2px solid white;
}



/*for tablet*/
@media only screen and (max-width: 768px) {
  div.console-container { 
    font-size: 40px;
  }
  .box{
    width: 50%;
  }
  .txt { 
    font-size: 16px;
  }
  .cont{
    padding: 0.5em;
  }
}

/*for mobile*/
@media only screen and (max-width: 425px) {
  div.console-container { 
    font-size: 25px;
  }
  .box{
    width: 100%;
  }
  .cont{
    padding: 0.5em;
  }
}