

/*text animation*/

div.console-container {
font-family: 'Fredoka One', cursive;
  font-size:3em;
  text-align:center;
  display:block;
  position:relative;
  color:Peru;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
@media screen and (max-width: 1200px) {
  div.console-container { 
    font-size: 48px;
  }
}
    
@media screen and (max-width: 800px) {
  div.console-container { 
    font-size: 30px;
  }
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/*content part*/

img{
  display: inline-block;
}
.set_box{
  background-color: #fff;
  width: 60%;
  height: 80%;
  display: inline-block; 
  margin: 20px;
  border-radius: 10px;
}
.txt{
  font-family: 'Itim', cursive;
  font-size: 20px;
  color: #765234; 
  padding: 20px;
  text-align: left;

}

.pic{
  padding-top: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .txt { 
    font-size: 16px;
  }
}

#story_1{
  position: absolute;
  top: 25px;
}

#story_2{
  position: relative;
  top: 108px;
}

.box_scroll {
    font-family: 'Itim', cursive;
    height: auto;
    padding: 0px;
}

@media screen and (max-width:800px) {
  .left, .right {
    width:100%;
  }
}

/*Footer Part*/
.social{
    display: inline;
}

footer{
  font-size: 0.7em;
  font-family: 'Fredoka One', cursive;
  border-top: 2px solid white;
}