*{
    margin: 0px;
    padding: 0px;
}



/*Header Part*/
header{
  font-size: 1.5em;
  font-family: 'Fredoka One', cursive;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 11%;
  border-bottom: 2px solid white;

}

#cssmenu {
  background: #ffe9c2;
  width: auto;

}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: right;
}
#cssmenu ul li a {
  color: #bd8e62;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Fredoka One', cursive;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

/*Parallax Part*/
.parallax {
    /* The image used */
    background-image: url("pic/home.jpg");

    /* Set a specific height */
    min-height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Midle detail Part*/
.box_scroll {
    font-family: 'Fredoka One', cursive;
    height: auto;
    background-color: #bd8e62;
    padding: 0px;
}

.txt_our {
  padding: 3em;
  color: #fff;
}

.pic {
  margin-top: 50px;
}
.pic:hover{
  border: 3px solid #ffe9c2;
}
.pic_menu {
  border: 3px solid #6a3e19; 
}
.pic_menu:hover{
  opacity: 0.8;
  border: 3px solid #ffe9c2;

}

.button {
  background-color: #624329;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  color: #ffe7d3;
}
.button:hover {
  background-color: #eeb60b;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  color: #fff;
}

/*Footer Part*/
.social{
    display: inline;
}
footer{
  font-size: 0.7em;
  font-family: 'Fredoka One', cursive;
  border-top: 2px solid white;
}