*{
    margin: 0px;
    padding: 0px;
}

/*Slide Show*/
* {box-sizing: border-box}
.mySlides {display: none}

.slideshow-container {
  width: 100%;
  position: relative;
}
.slidepic{
  width: 100%;
  height: 700px;
  object-fit: cover;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

.txt{
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  text-align: center; 
  text-shadow: 0 0 20px 
  rgba(0,0,0,0.5);
}
.txt_head{
  margin-top: 0; 
  margin-bottom: 0.8vw; 
  font-size: 5vw; 
  font-weight: bold;
}


/*Parallax Part*/
.parallax {
    /* The image used */
    background-image: url("pic/home.jpg");

    /* Set a specific height */
    min-height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Midle detail Part*/
.box_scroll {
    font-family: 'Itim', cursive;
    height: auto;
    background: radial-gradient(at top left, #d6ae7b, #eacda3, #FFEFBA, #eacda3, #d6ae7b);
    padding: 0px;
}

.txt_our {
  padding: 3em;
  color: #fff;
}

.pic {
  margin-top: 50px;
}

.pic_menu {
  border: 0px; 
}
.pic_menu:hover{
  opacity: 0.8;
  border: 3px solid #ffe9c2;

}
.title_menu{
  size: 30px;
  text-align: center;
  color:#fff; 
  text-decoration: underline;
  text-decoration-style: wavy; 
  -webkit-text-stroke: 2px #3b221b;
}


.button {
  background-color: #624329;
  border-radius: 5px;
  color: #ffe7d3;
  transition-delay: 0.3s;
}
.button:hover {
  border: 3px solid #fff;
  background-color: #f7b733;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  color: #fff;
  transition-delay: 0.3s;
}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F2994A;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Footer Part*/
.social{
    display: inline;
}
footer{
  font-size: 0.7em;
  font-family: 'Fredoka One', cursive;
  border-top: 2px solid white;
}