*{
  transition: all .3s;
}
inner {
  background-color: #fff;
  display: inline-block;
  width: 350px;
  margin: 14px;
}

/*Parallax Part*/
.parallax {
    /* The image used */
    background-image: url("pic/teddy_bun.jpg");

    /* Set a specific height */
    min-height: 40vw; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Menu List Part*/
.frame_cart{
   display: none;
  width: 300px;
  height: 200px;
}

.text_title{
  color: #3b221b;
  font-size: 30px;
  font-weight: 20;
  font-family: 'Itim', cursive;
  margin-bottom: 0;
}

.box{opacity: 0.9;}


.btn_shop {
    color: #3c280e;
    width: 85%;
    background: white;
    font-weight: bold;
    border: 2px solid #3c280e;
    padding: .75em 1.5em;
    font-size: 1.2rem;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
  cursor: pointer;
}
.btn_shop:hover{ 
  background:  #3c280e;
  color: white;
  border: 2px solid white;
}

span.baht{
  position: relative;
  right: 20%;
  font-weight: normal; 
}
span.price{
  position: relative;
  right: 40%;
  font-weight: normal;
}
span.plus{
  position: relative;
  left: 40%;
}
span.basket_shopping{
  position: relative;
  left: 20%;
}


/*text animation*/

.console-container {
font-family: 'Fredoka One', cursive;
  font-size:3em;
  text-align:center;
  display:block;
  position:relative;
  color:Peru;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


/*Footer Part*/
.social{
    display: inline;
}

footer{
  font-size: 0.7em;
  font-family: 'Fredoka One', cursive;
  border-top: 2px solid white;
}



/*for tablet*/
@media only screen and (max-width: 768px) {
  div.console-container { 
    font-size: 40px;
  }
  .btn_shop{
    font-size: 1.5rem;
    width: 60%
  }
  .parallax{
    min-height: 60vw;
  }
  inner{
    width: 85%;
    margin-bottom: 10px; 
    margin-right: 0px;
    margin-left: 50px;
  }
  

/*for mobile*/
@media only screen and (max-width: 425px) {
  div.console-container { 
    font-size: 25px;
  }
  .cont{
    padding: 0.5em;
  }
  .text_title{
    font-size: 22px;
  }
  .btn_shop{
        font-size: .85rem;
        width: 80%;
  }
  .parallax{
    min-height: 114vw;
  }
  inner{
    width: 85%;
    margin-bottom: 10px; 
    margin-right: 0px;
    margin-left: 27px;
  }
}