*{
  transition: all .3s;
}

/*Parallax Part*/
.parallax {
    /* The image used */
    background-image: url("pic/chocolate_creamcheese.jpg");

    /* Set a specific height */
    min-height: 40vw; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*text animation*/
div.console-container {
font-family: 'Fredoka One', cursive;
  font-size:3em;
  text-align:center;
  display:block;
  position:relative;
  color:Peru;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/*content part*/
.content_promo{
  font-family: 'Itim', cursive;
  font-size: 26px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #765234;
}

/* Shine */
inner figure {
  position: relative;
}
inner figure::before {
  position: absolute;
  left: 0%;
  z-index: 2;
  display: block;
  content: '';
  width: 10%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
inner figure:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 100%;
  }
}
@keyframes shine {
  100% {
    left: 80%;
  }
}

/*Footer Part*/
.social{
    display: inline;
}

footer{
  font-size: 0.7em;
  font-family: 'Fredoka One', cursive;
  border-top: 2px solid white;
}


/*for tablet*/
@media only screen and (max-width: 768px) {
  div.console-container { 
    font-size: 40px;
  }
  .content_promo { 
    font-size: 22px;
  }
  .cont{
    padding: 0.75em;
  }
  #slidy img{
    max-height: 50vw;
  }
}

/*for mobile*/
@media only screen and (max-width: 425px) {
  div.console-container { 
    font-size: 25px;
  }
  #slidy img{
    max-height: 66vw;
  }
  .content_promo { 
    font-size: 18px;
  }
  .cont{
    padding: 0.5em;
  }
  .parallax {
    min-height: 114vw;
  }
}