/*text animation*/
div.console-container {
font-family: 'Fredoka One', cursive;
  font-size:3em;
  text-align:center;
  display:block;
  position:relative;
  color:Peru;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
@media screen and (max-width: 1200px) {
  div.console-container { 
    font-size: 48px;
  }
}
    
@media screen and (max-width: 800px) {
  div.console-container { 
    font-size: 30px;
  }
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/*content part*/
.content_promo{
  font-family: 'Itim', cursive;
  font-size: 26px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #765234;
}
@media screen and (max-width: 1200px) {
  .content_promo { 
    font-size: 20px;
  }
}


/*Footer Part*/
.social{
    display: inline;
}

footer{
  font-size: 0.7em;
  font-family: 'Fredoka One', cursive;
  border-top: 2px solid white;
}